@use 'variables';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh !important;
  background-image: radial-gradient(#e3e3e3 1px, transparent 0), radial-gradient(#e3e3e3 1px, transparent 0);
  background-position: 0 0, calc(1 * 25px) calc(1 * 25px);
  background-attachment: fixed;
  background-size: calc(1 * 50px) calc(1 * 50px);
}

// *,
// *::after,
// *::before {
//   box-sizing: border-box ;
// }

// body {
//   font-family: 'Montserrat', sans-serif;
//   background-color: var(--body-background-default);
// }