@use '../../styles/variables' as *;

.home {
  background-color: $background-color;
}

.questions {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.questioinsContent {
  width: 70%;
}

.questionsFilter {
  position: sticky;
  top: 80px;
  width: calc(30% - 15px);
  margin-top: 56px;
  padding: 26px;

  background: $background-color;
  border-radius: 6px;
  border: 1px solid $accent-2;
  box-shadow: none;
  transition: all 0.2s ease;
}
