@use '../../styles/media' as *;

.postList {
  min-height: 100%;
  margin-bottom: 40px;
}

.container {
  margin-bottom: 30px;
}

.pageControls {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include for-phone-only {
    flex-direction: column;

    & > :not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.noResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px;

  & .text {
    margin-bottom: 10px;
  }
}
