@use '../../styles/variables' as *;

.postPreview {
  width: 100%;
}

.title {
  margin-bottom: 0;
}

.titleLink {
  color: $foreground-color;
  font-size: 22px;
  
  &:hover {
    text-decoration: underline;
  }
}

.categories {
  margin-bottom: 16px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.author {
  display: flex;
  align-items: center;
  margin-right: 5px;
}