@use '../../styles/variables' as *;

.unauthorized {
  margin-top: 25px;
  padding: 40px;
  border-radius: 6px;
  border: 1px solid $accent-2;
  background-color: $background-color;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
