@use '../../../styles/variables' as *;
@use '../../../styles/media' as *;

.container {
  background-color: $background-color;
  width: 100%;
  border-radius: 6px;
  padding: 18px;
  border: 1px solid $accent-2;
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;

  @include for-phone-only {
    flex-direction: column;

    & > :not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.info {
  display: flex;
  align-items: center;

  @include for-phone-only {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.infoAuthor {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.infoDate {
  font-size: 14px;
  color: $accent-5;
}

.content {
  margin-left: 45px;

  @include for-phone-only {
    margin-left: 0;
  }
}

.control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px 10px 10px 45px;

  @include for-phone-only {
    margin: 0px 10px 10px 0px;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: transparent;
  color: $accent-5;
  border: none;
  outline: none;
  border-radius: 6px;

  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  transition: all linear 200ms 0ms;
  box-shadow: none;

  &:hover {
    color: $success-light;
  }

  & + .button {
    margin-left: 20px;
  }

  &.delete {
    &:hover {
      color: $error-light;
    }
  }
}
