.header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  height: 64px;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
  backdrop-filter: saturate(180%) blur(5px);
  background-color: rgba(255, 255, 255, 0.8);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navLink {
  margin: 0, 4px;
  padding: 9px 14px;
  border-radius: 5px;
  font-size: 14px;
  background-color: transparent;
  color: #666;
  text-decoration: none;

  transition: color, backgtound-color, 200ms ease-in;

  &:hover {
    color: #000;
    background-color: rgba(#aeaeae, 0.2);
  }

  &.active {
    color: #000;
  }
}

.controls {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}

.userName {
  font-size: 16px;
  font-weight: 500;
  color: #111;
  // line-height: 1;
}

.userRole {
  font-size: 13px;
  color: #444;
}
